.container {
	max-width: 960px;
	margin: 25px auto;
}

.group:after {
	display: table;
	clear: both;
	content: "";
}

.current-page {
	font-weight: 900;
}

[_col] {
	float: left;
	margin-right: 30px;
}

[_col~="1/3"] {
	width: calc(33.333333333% - 30px);
	background: hsl(0, 0%, 90%);
}

[_col~="1/2"] {
	width: calc(50% - 30px);
}

[_col~="2/3"] {
	width: calc(66.6666666666% - 30px);
	background: hsl(0, 0%, 80%);
}

[_col~="1"] {
	width: calc(100% - 30px);
	background: hsl(0, 0%, 70%);
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
}

[_nav] {
	margin: 0 auto 15px;
}

[_nav~="top"] {
	width: 388px;
}

[_nav~="sub"] {
	width: 400px;
}


h1, h2, h3, p, a, ul, li {
	padding: 0;
	margin: 0;
}

h1 {
	font-family: 'Zeyada', cursive;
	font-size: 3em;
	line-height: 2.5em;
	text-align: center;
}

h1 em {
	text-transform: uppercase;
}

nav > ul > li {
	float: left;
	margin: 0 25px;
}

[_nav~="top"] > ul > li a {
	color: hsl(0, 0%, 13%);
}

[_nav~="sub"] > ul > li a {
	color: hsl(0, 0%, 33%);
}

h2 {
	font-size: 2.125em; /*34px*/
	line-height: 3.4375em; /*55px*/
}

h3 {
	font-size: 1.25em; /*20px*/
	line-height: 2em; /*32px*/
}

p, li {
	font-size: 1em; /*16px*/
	line-height: 1.625em; /*26px*/
}

p {
	text-align: justify;
	margin-bottom: 1em;
}

p em {
	font-style: normal;
	font-weight: 900;
	text-transform: uppercase;
}

a:link, a:visited {
	text-decoration: none;
}

a:hover, a:target, a:active {
	font-weight: 900;
}

li {
	list-style: none;
	margin-bottom: .45em;
}

