body {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
}

h1, h2, h3, p, a, ul, li {
	padding: 0;
	margin: 0;
}

h1 {
	font-family: 'Zeyada', cursive;
	font-size: 3em;
	line-height: 4.125em;
}

h1 em {
	text-transform: uppercase;
}

h2 {
	font-size: 2.125em; /*34px*/
	line-height: 3.4375em; /*55px*/
}

h3 {
	font-size: 1.25em; /*20px*/
	line-height: 2em; /*32px*/
}

p {
	font-size: 1em; /*16px*/
	line-height: 1.625em; /*26px*/
	text-align: justify;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
	float: left;
}
